.Soup { 
    display:block;
    position: relative;
    right: 0px;
    top: 110px;

    /* position: relative; /* Needed for offsetting */
    /* left: 1px; /* Horizontal offset */
    /* top: 100px;  */ 
}
   .makingfood {
    width: 960px; 
    height: 58px; 
    color: #69A449; 
    font-size: 50px; 
    font-family: 'Gill Sans', sans-serif; /* Ensure proper font family syntax */
    font-weight: 400;
    word-wrap: break-word;
    text-align: right;
    position: relative; /* Needed for offsetting */
    left: 1px; /* Horizontal offset */
    top: 110px; 
}
.morsel {
    width: 696.09px;
    height: 59.29px;
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', sans-serif; /* Ensure proper font family syntax */
    font-weight: 400;
    word-wrap: break-word;
    text-align: right;
    position: relative; /* Needed for offsetting */
    left: -35px; /* Horizontal offset */
    top: 120px; 
}


.Making_Food_More_Accessible {
    display: flex;
.currentissues {
    width: 746.48px; 
    height: 58.17px; 
    text-align: center; 
    color: #FB7D00; 
    font-size: 48px; 
    font-family: Gill Sans; 
    font-weight: 400; 
    word-wrap: break-word;
    text-align: center;
    position: relative; /* Needed for offsetting */
    left: 450px; /* Horizontal offset */
    top: 200px
}

.problem1{
    width: 235px;
    height: 80px; 
    text-align: center; 
    color: black; 
    font-size: 25px; 
    font-family: Gill Sans; 
    font-weight: 400; 
    word-wrap: break-word;
    text-align: center;
    background: #F1B72C; 
    border-radius: 20px;
    padding-top: 40px;
    position: relative; /* Needed for offsetting */
    left: 400px; /* Horizontal offset */
    top: 225px; 
}
.problem2{
    width: 235px;
    height: 90px; 
    text-align: center; 
    color: black; 
    font-size: 25px; 
    font-family: Gill Sans; 
    font-weight: 400; 
    word-wrap: break-word;
    text-align: center;
    background: #F1B72C; 
    border-radius: 20px;
    padding-top: 30px;
    position: relative; /* Needed for offsetting */
    left: 700px; /* Horizontal offset */
    top: 105px;
}

.problem3{
    width: 235px;
    height: 87px; 
    text-align: center; 
    color: black; 
    font-size: 25px; 
    font-family: Gill Sans; 
    font-weight: 400; 
    word-wrap: break-word;
    text-align: center;
    background: #F1B72C; 
    border-radius: 20px;
    padding-top: 30px;
    position: relative; /* Needed for offsetting */
    left: 1000px; /* Horizontal offset */
    top: -16px;
}
}